<div class="container text-center">
<div class="card text-center">
<h1>New List</h1>
</div>
<div class="card text-center">

<%= simple_form_for(@list) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>


</div>

<div class="card text-center">

<button><%= link_to "Back to list", lists_path %></button>
</div>
</div>
